ul {
  margin: 0px;
}

h1 {
  margin: 0px;
}

/* @keyframes descendingKey {
  from {width: 75px;}
  to {width: 100px;}
}

#currentChar {
  animation-name: descendingKey;
  animation-duration: 1s;
} */